@import 'https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,300,400&display=swap';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Satoshi', sans-serif;

	margin-bottom: 900px;
}

:root {
	--nav-title: #404040;


	--primary: #fff;
	--second: #08080B;
	--accent: #0C0A0B;

	--primary2: #ededed;
	--sub: #B4B4B4;
	--sub2: #3D3D3D;
	--primary2-text: #A6A6A6;
	--background-blur: rgb(0, 0, 0, 0.5);
	--cta-bg: #3B3B3D;
	--cta-title: #fff;

	--dark-sub: #4D4D4D;
	--dark-text: #A7A7A7;

	--services-sub: #818181;
	--services-sub2: #909192;
	--services-bg: #F3F5F7;

	--process1-bg: #F4F4F4;
	--process1-title: #323232;
	--process1-text: #3F3F3F;


	--padding: 1em;


	--font: 'Satoshi', sans-serif;
}

button {
	font-family: var(--font);
}