@import 'https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,300,400&display=swap';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Satoshi', sans-serif;

	margin-bottom: 500px;
}

:root {
	--nav-title: #404040;


	--primary: #fff;
	--second: #0A0D18;
	--accent: #0C0A0B;

	--primary2: #ededed;
	--sub: #3D3D3D;
	--primary2-text: #A6A6A6;
	--background-blur: rgb(0, 0, 0, 0.5);


	--padding: 1em;


	--font: 'Satoshi', sans-serif;
}